@font-face {
    font-family: Valencia;
    src: url(fonts/Valencia/Valencia.ttf);
}

@font-face {
    font-family: AvenirRoman;
    src: url(fonts/Avenir/Avenir-Roman-12.ttf);
}

@font-face {
    font-family: AvenirHeavy;
    src: url(fonts/Avenir/Avenir-Heavy-05.ttf);
}

@font-face {
    font-family: AvenirLight;
    src: url(fonts/Avenir/Avenir-Light-07.ttf);
}

@keyframes fadein {
    from {
        opacity: 0
    }
    to { 
        opacity: 1
    }
  }

/* COMMON */

body, h1, h2, h3, h4, h5, h6,p  {
    margin: 0;
    padding: 0;
}

body {
    font-family: AvenirLight;;
}

h1, h2, h3, h4, h5, h6 {
    font-family: AvenirRoman;
}

.title-left {
    text-align: left;
    margin-left: 3vw;
    z-index: -100;
}

.title-right {
    text-align: right;
    margin-right: 3vw;
    z-index: -100;
}

.title-left h1, .title-right h1 {
    font-family: AvenirHeavy;
    font-size: 200px;
    color: #EEE;
}

/* SHOWCASE SECTION */

.showcase {
    height: 100vh;
    width: 100vw;
    text-align: center;

}

.showcase div {
    white-space: nowrap;
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadein 2s;
}

.showcase h1 {
    font-family: Valencia;
    font-size: 150px;
}

.showcase h2 {
    font-family: AvenirRoman;
    font-size: 50px;
    font-weight: lighter;
}

/* ABOUT ME SECTION */

.about {
    height: 50vh;
    width: 100vw;
}

.about .description {
    margin-left: 30vw;
    margin-right: 5vw;
    margin-top: -19vh;
}

.about .description p {
    font-size: 38px;
}

/* SKILLS SECTION */

.skills .content {
    display: grid;
    height: 60vh;
    width: 100vw;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    margin-top: -19vh;
}

.skills .section {
    margin: 0 auto;
    text-align: center;
}

.skills h3 {
    font-family: AvenirHeavy;
    font-size: 60px;
}

.skills ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.skills li {
    font-size: 26px;
    font-family: AvenirRoman;
    margin: 1vh;
}

/* EXPERIENCE SECTION */

.experience .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 60vh;
    width: 100vw;
    margin: 0 auto;
    margin-top: -19vh;
}

.experience .job {
    margin: 0 auto;
    padding: 0 2vw;
}

.experience h2 {
    font-family: AvenirHeavy;
    font-size: 50px;
}

.experience h5 {
    font-size: 17px;
    margin: 2vh 0;
    font-family: AvenirLight;
    font-weight: lighter;
}

.experience p {
    font-size: 20px;
    font-family: AvenirRoman;
}

.experience li {
    font-size: 20px;
    margin-top: 1vh;
}

.experience ul {
    padding: 0;
    list-style-type: none;
}

/* PROJECTS SECTION */

/* IMPORTANT SECTION */

/* CONTACT SECTION */
